# в этом файле описываются все переменные окружения с их стандартными значениями (если есть)
# либо комментарием по возможным значениям, которые может принимать переменная
# !!! файл добавляется в репозиторий - запрещено добавлять в него секретные ключи и прочую критическую информацию

TEST_CONST="check environment"

# Переменные Binance
API_KEY=
SECRET_KEY=

# Нода ES
ELASTICSEARCH_HOST='http://127.0.0.1:9200'

# COINMARKETCAP
COINMARKETCAP_BTC_ID = 1
COINMARKETCAP_ETH_ID = 1027
COINMARKETCAP_BNB_ID = 1839

#
SIGNAL_HANDLER = signalOne

# Trade pairs and common parameters of exchange configs
EXCHANGE_COMMON_PARAMETERS=configs/exchange/binanceTradeParams.json
TRADE_PAIRS_CONFIG=configs/tradePairs/example.json