[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "*"
websocket-client = "*"

[scripts]
sniffer = "python src/socketSniffer.py" # example: pipenv run sniffer

[dev-packages]

[requires]
python_version = "3.10"
