[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "1.0.16"
websocket-client = "1.4.2"

[scripts]
generateDocumentation="bash docs/generateDocumentation.sh"
#sniffer = "python src/socketSniffer.py" # example
sniffer = {call = "src.envExample:getEnvVars()"}
funcWithArgs = {call = "src.envExample:argsCheck('arg1', 'arg2')"} # пример вызова функции с аргументами

[dev-packages]

[requires]
python_version = "3.10"
